<div class="container">
    <div class="row my-3">
        <div class="col-12">
            <h3>Category Update</h3>
        </div>
    </div>
  <div class="row">
    <div class="col-6">
      <div class="form-group">
        <label for="category_title">Category title</label>
        <input [(ngModel)]="category.title" type="text" class="form-control" id="category_title"/>
      </div>
      <button type="submit" class="btn btn-outline-info" (click)="updateCategory()">Update category</button>
    </div>

  </div>
</div>
