<div class="container">
  <div class="row my-3">
    <div class="col-8">
      <h3>Users List</h3>
    </div>
    <div class="col-4 text-right">
      <button class="btn btn-outline-info mr-1" (click)="getUsers()">
        <i class="fa fa-refresh"></i>
      </button>
      <a class="btn btn-outline-info" routerLink="/users/create">
        <i class="fa fa-plus"></i> Add user
      </a>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <div class="table-responsive">
        <table class="table table-bordered table-striped">
          <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Id</th>
            <th scope="col">FirstName</th>
            <th scope="col">LastName</th>
            <th scope="col">Email</th>
            <th scope="col">Tools</th>

          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let user of users; let i = index">
            <td>{{ i + 1 }}</td>
            <td>{{user._id}}</td>
            <td>{{user.firstName}}</td>
            <td>{{user.lastName}}</td>
            <td>{{user.email}}</td>
            <td class="text-nowrap">
              <a [routerLink]="'/users/update/' + user._id" class="btn btn-sm btn-outline-warning mr-1">
                <i class="fa fa-pencil"></i>
              </a>
              <button (click)="deleteUser(user._id)" class="btn btn-sm btn-outline-danger">
                <i class="fa fa-remove"></i>
              </button>
            </td>
          </tr>
          </tbody>
        </table>
      </div>

    </div>
  </div>
</div>

